.grid-box {
  position: absolute;
  border: 1px solid #666;
  width: 75px;
  height: 75px;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.grid-box.visited {
  background-color: #ccc;
  color: #333;
}

.grid-row {
  position: absolute;
}

.grid-active {
  border: 1px solid #393;
  background-color: #dfc;
  cursor: pointer;
}

.grid-movement-text {
  font-size: 14px;
  font-weight: bold;
  cursor: default;
}

.character {
  position: absolute;
  width: 75px;
  height: 75px;
  text-align: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
}

.character-label {
  padding: 4px;
  background-color: rgba(216, 128, 64, 0.5);
}

.item {
  position: absolute;
  width: 75px;
  height: 75px;
  text-align: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.item-label {
  padding: 4px;
  font-size: 64px;
}

.item-label-obtained {
  padding: 4px;
  font-size: 64px;
  color: rgba(0, 0, 0, 0.33);
}

button {
  font-size: 14px;
  border: 1px solid;
  margin: 2px 4px 2px 4px;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: #693;
}
